.top-films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.find-film-input {
  margin: 0 auto;
  width: 400px;
  margin-bottom: 30px;
  color: #000;
}
