.tabs .ant-tabs-tab {
  color: #fff;
  height: 50px;
}

.tabs {
  left: 0;
  right: 10px;
  position: absolute;
  height: 400px !important;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 0 0;
  height: 100vh;
}



