.wishfilms {
  margin-top: 10px;
}

.delete-btn {
  background-color: red;
  width: 100%;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s linear;
  outline: none;
  border: none;
}

.delete-btn:hover {
  background-color: #c30000;
}

.wish-list-enter {
  opacity: 0;
}

.wish-list-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.wish-list-exit {
  opacity: 1;
}

.wish-list-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.wish {
  position: relative;
  width: 30%;
  background-color: rgb(111, 111, 111);
  text-align: center;
  float: right;
  z-index: 10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start > p {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.start > span {
  margin-top: -10px;
}

.wish-list {
  position: absolute;
  list-style-type: none;
  background-color: rgb(111, 111, 111);
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 200px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wish-content > img {
  width: 10vw;
}

.wish-item {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.wish-content {
  display: flex;
  gap: 10px;
  border-radius: 0 10px;
  transition: background-color 0.2s linear;
}

.wish-content:hover {
  background-color: #626262;
}

.wish-content > img {
  width: 30%;
}
