.main-page {
  padding: 20px;
}

.carousel-item {
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-item h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}
