<<<<<<< HEAD
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
=======
<<<<<<< Updated upstream
dialog {
  width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 100;
  overflow-x: hidden;
=======
.modal {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}

.modal.active {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.modal-content {
>>>>>>> Stashed changes
  background-color: rgb(63, 65, 65);

>>>>>>> third
}

.modal.active {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

<<<<<<< HEAD
.modal-content {
  background-color: rgb(63, 65, 65);
  width: 80vw;
}

.modal-img {
  width: 350px;
  padding: 15px;
}

.none {
  display: none;
}

.filmInfo {
  display: flex;
=======
<<<<<<< Updated upstream
.close-icon::before {
  transform: rotate(45deg);
}

.close-icon::after {
  transform: rotate(-45deg);
=======
.filmInfo {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;
>>>>>>> Stashed changes
>>>>>>> third
}

.details {
  flex-grow: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  text-wrap: wrap;
}

.release-date {
  font-style: italic;
  color: #666;
}
