.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}

.modal.active {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.modal-content {
  background-color: rgb(63, 65, 65);
  padding: 20px;
  width: 80rem;
}

.modal-img {
  width: 350px;
  padding: 15px;
}

.none {
  display: none;
}

.filmInfo {
  display: flex;
}

.details {
  flex-grow: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.release-date {
  font-style: italic;
  color: #666;
}
